<h1>Student Form</h1>
<%= form_tag students_new_path do %>

  <label for="">First Name</label>  
  <%= text_field_tag :'student[first_name]' %>
  <label for="">Last Name</label>
  <%= text_field_tag :'student[last_name]' %>

  <%= submit_tag "Submit Student" %>
<% end %>

<%= params.inspect %>