<h1>Student Form</h1>
<%= form_tag students_new_path do %>

    <label>First name: </label>
    <%= text_field_tag :'student[first_name]' %><br>

    <%= text_field_tag :'student[last_name]' %><br>

    <%= submit_tag "Submit Student" %>

<% end %>

<%= params.inspect %>